@import '../../../../scss/variables/velo';

$applied-discount-item-component-icon-holder-width: 3rem;
$applied-discount-item-component-icon-size: 1.8rem 1.8rem;
$applied-discount-item-component-background-image: url('../../../../resources/svg/velo/velo-success.svg');
