@import '../../../../../../common/src/scss/variables/base';
@import '~@luft/common/src/scss/mixins';

@include media-breakpoint-up(md) {
    .blog-related-posts-component {
        & {
            max-width: calc(#{$max-content-width} + #{$p-primary});
            padding: 0 $p-secondary;
            margin: auto;
        }

        &-tiles {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -#{$m-tertiary};
        }
    }
}
