@import '../../../../../../common/src/scss/variables/vuse';

$account-referral-link-component-content-item-width: 30.9rem;
$account-referral-link-component-content-button-padding-inline: 3rem;

// md
$account-referral-link-component-content-justify-content-md: space-between;
