.page-builder-slider-component {
    .slick-slider {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .slick-slider,
    .slick-list,
    .slick-track,
    .slick-slide div,
    .slick-slide a {
        height: 100%;
    }

    .slick-slide a {
        display: block;
    }

    .slide-with-text,
    .slide-with-button {
        [class*='banner_content'],
        [class*='banner_button'] {
            height: auto;
        }
    }

    [class*='banner_overlay'] {
        align-content: center;
    }
}
