@import '../../../../../../common/src/scss/variables/glo';

$account-menu-component-link-border-color: $gray-light-tertiary;
$account-menu-component-link-background-position: center right 3rem;
$account-menu-component-link-font-weight: $font-weight-bold;
$account-menu-component-link-line-height: 1;
$account-menu-component-link-padding-block-start: 2.2rem;
$account-menu-component-link-padding-block-end: 1.9rem;

// md
$account-menu-component-link-background-image-md: none;
