@import '../../../../../../common/src/scss/variables/velo';

$add-review-form-modal-component-new-legend-color: $secondary-font-color;
$add-review-form-modal-component-new-legend-text-transform: uppercase;
$add-review-form-modal-component-new-legend-font-weight: $font-weight-semibold;
