@import '../../../../../../common/src/scss/variables/velo';

// md
$account-security-component-content-padding-inline-start-md: $m-primary-lg;
$account-security-component-content-padding-inline-end-md: 0;
$account-security-component-content-padding-max-width-md: 33rem;
