$store-locator-control-component-icon: url('../../../../../../common/src/resources/svg/velo/velo-store-locator-error.svg');
$store-locator-control-component-icon-width: 3.9rem;
$store-locator-control-component-icon-height: 3.9rem;
$store-locator-control-component-title-line-height: 2.8rem;
