@import '../../../../../../common/src/scss/variables/vuse';

$account-rewards-component-label-line-height-md: 1;
$account-rewards-component-label-background-color-md: $light;
$account-rewards-component-label-border-md: 0.2rem solid $gray-light-tertiary;
