@import '../../../../../../common/src/scss/variables/glo';

$blog-post-component-date-color: #6b6b6b;
$blog-post-component-title-margin: 0 0 $m-secondary;
$blog-post-component-date-font-size: $font-size-mobile;
$blog-post-component-date-padding-bottom: $p-tertiary;
$blog-post-component-content-font-size: $font-size-mobile;

// md
$blog-post-component-date-font-size-md: $font-size-md;
$blog-post-component-content-font-size-md: $font-size-md;
