@import '../../../../../../common/src/scss/variables/vuse';

$category-breadcrumbs-component-root-padding-inline-start: $p-primary;
$category-breadcrumbs-component-padding-inline-start: 0;
$category-breadcrumbs-component-back-margin-inline-start: 1.5rem;

// xl
$category-breadcrumbs-component-root-padding-inline-start-xl: $p-primary;
