@import '../../../../../../common/src/scss/variables/glo';

$blog-post-tile-component-date-color: #6b6b6b;
$blog-post-tile-component-title-font-weight: $font-weight-bold;
$blog-post-tile-component-date-text-transform: uppercase;
$blog-post-tile-component-content-color: $blog-post-tile-component-date-color;
