@import '../../../../../../common/src/scss/variables/vuse';

$search-location-component-width: 49rem;
$search-location-component-title-font-size: 2.6rem;
$search-location-component-title-line-height: 1;
$search-location-component-title-font-family: $font-family-secondary;
$search-location-component-button-margin-top: $m-tertiary;
$search-location-component-padding-inline-start: $p-primary;
$search-location-component-title-font-weight: 800;

// sm
$search-location-component-title-font-size-sm: 2.4rem;
