@import '../../../../../../common/src/scss/variables/velo';

$address-book-list-component-preview-padding-block-start: $p-tertiary;
$address-book-list-component-button-line-height: 1;
$address-book-list-component-button-color: $primary;
