@import '../../../../../../common/src/scss/variables/vuse';

$store-locator-nav-control-component-button-align: flex-end;
$store-locator-nav-control-component-button-focus-border: none;
$store-locator-nav-control-component-button-focus-box-shadow: none;

// xs
$store-locator-nav-control-component-border-color-xs: $dark;
