@import '../../../../scss/variables/glo';

$back-component-min-height: auto;
$back-component-border-bottom: $primary-border-width solid $gray-light-primary;
$back-component-button-letter-spacing: 0;
$back-component-icon-background-size: 1.4rem 1.1rem;
$back-component-button-line-height: normal;
$back-component-title-font-weight: 400;
$back-component-title-font-size: $font-size-base;
$back-component-title-line-height: 1.4rem;
$back-component-title-text-transform: none;
$back-component-control-padding-block-start: 1.2rem;
$back-component-control-padding-block-end: 1.2rem;
