@import '../../../../../../common/src/scss/variables/glo';

$settings-nav-item-component-background-image: url('../../../../../../common/src/resources/svg/base/bat-wheel-gray.svg');
$settings-nav-item-component-push-background-image: url('../../../../../../common/src/resources/svg/glo/glo-wheel-orange.svg');
$settings-nav-item-component-collapse-color: $light;
