@import '../../../../../../common/src/scss/variables/vuse';

// xs
$wishlist-nav-item-component-background-image-xs: url('../../../../../../common/src/resources/svg/velo/velo-wishlist-blue.svg');
$wishlist-nav-item-component-background-size-xs: 2.2rem 2rem;
$wishlist-nav-item-component-background-position-xs: 2rem 50%;
