@import '../../../../../../common/src/scss/variables/velo';

$product-sorts-dropdown-component-toggle-color-active: $tertiary-font-color;
$product-sorts-dropdown-component-icon-image: url('../../../../../../common/src/resources/svg/velo/velo-arrows.svg');
$product-sorts-dropdown-component-icon-image-active: url('../../../../../../common/src/resources/svg/velo/velo-arrows-active.svg');
