@import '../../../../../../common/src/scss/variables/glo';

$account-info-component-update-fields-margin-block-end: 3.5rem;
$account-info-component-toggle-letter-spacing: 0;
$account-info-component-toggle-margin-block-start: $m-primary;
$account-info-component-checkbox-margin-block-start: $m-primary;
$account-info-component-checkbox-margin-block-end: $m-primary;
