@import '../../../../../../common/src/scss/variables/glo';

$tab-nav-component-nav-item-box-shadow: inset 0 -0.1rem 0 $gray-light-primary;
$tab-nav-component-nav-link-component-font-color: $primary;
$tab-nav-component-nav-link-component-active-font-color: $primary;
