@import '../../../../../../common/src/scss/variables/glo';

$product-pane-component-update-action-color: $light;
$product-pane-component-product-title-font-family: $font-family;
$product-pane-component-product-title-font-weight: $font-weight-normal;
$product-pane-component-config-options-title-transform: uppercase;
$product-pane-component-qty-title-transform: uppercase;
$product-pane-component-qty-font-weight: 800;
$product-pane-component-stock-status-font-weight: 800;
