@import '../../../../../../common/src/scss/variables/velo';

$app-footer-background-color: $tertiary;
$app-footer-padding-block-start: 5rem;
$app-footer-padding-block-end: $p-primary;
$app-footer-padding-inline-start: $p-primary;
$app-footer-padding-inline-end: $p-primary;
$app-footer-position: relative;
$app-footer-overflow: hidden;
$app-footer-section-holder-links-display: inline-block;
$app-footer-content-position: relative;
$app-footer-content-z-index: 2;
$app-footer-delimiter-position: relative;
$app-footer-delimiter-margin-block-start: $m-primary;
$app-footer-delimiter-margin-block-end: $m-primary;
$app-footer-delimiter-margin-inline-start: -$m-primary;
$app-footer-delimiter-margin-inline-end: -$m-primary;
$app-footer-delimiter-height: 0.1rem;
$app-footer-delimiter-background: $light;
$app-footer-delimiter-z-index: 2;
$app-footer-section-title-margin-block-end: $m-secondary !default;
$app-footer-section-holder-links-margin-inline-end: 3rem;
$app-footer-section-holder-links-margin-block-end: 3rem;
$app-footer-section-holder-link-color: $light;
$app-footer-section-holder-link-font-weight: $font-weight-bold;
$app-footer-section-holder-link-hover-text-decoration-color: $light;
$app-footer-follow-us-item-size: 4rem;
$app-footer-follow-us-item-border: 0.1rem solid $light;
$app-footer-follow-us-item-white-space: nowrap;
$app-footer-follow-us-facebook-background-image: url(../../../../resources/svg/velo/velo-facebook.svg) !default;
$app-footer-follow-us-instagram-background-image: url(../../../../resources/svg/velo/velo-instagram.svg) !default;
$app-footer-follow-us-youtube-background-image: url(../../../../resources/svg/velo/velo-youtube.svg) !default;
$app-footer-instagram-icon-size: auto 2.3rem;
$app-footer-facebook-icon-size: auto 2.3rem;
$app-footer-youtube-icon-size: auto 2.3rem;
$app-footer-policy-link-text-decoration-color: $light;
$app-footer-policy-link-transition: color 150ms ease, text-decoration-color 150ms ease;
$app-footer-policy-link-hover-text-decoration: underline transparent;
$app-footer-policy-link-copyright-links-font-size: $font-size-sm;
$app-footer-bottom-align-items: center;
$app-footer-content-min-height: 8.5rem;
$app-footer-logo-position: relative;
$app-footer-logo-after-content: '';
$app-footer-logo-after-display: block;
$app-footer-logo-after-background: url(../../../../../src/resources/svg/velo/velo-footer-bg.svg);
$app-footer-logo-after-position: absolute;
$app-footer-logo-after-left: -15rem;
$app-footer-logo-after-top: 50%;
$app-footer-logo-after-margin-block-start: -25.8rem;
$app-footer-logo-after-width: 56.6rem;
$app-footer-logo-after-height: 51.7rem;

// sm
$app-footer-padding-block-start-sm: $p-primary;
$app-footer-logo-after-top-sm: initial;
$app-footer-logo-after-bottom-sm: -18rem;
$app-footer-logo-after-left-sm: 50%;
$app-footer-logo-after-margin-inline-start-sm: -18.5rem;
$app-footer-delimiter-height-sm: 8rem;
$app-footer-delimiter-background-sm: none;
$app-footer-section-holder-links-item-margin-block-end-sm: 3rem;
