@import '../../../../scss/variables/velo';

$button-component-background-color: $primary;
$button-component-secondary-background-color: $button-secondary-background-color;
$button-component-quaternary-color: $light;
$button-component-quaternary-background-color: $secondary;
$button-component-quaternary-hover-background-color: $primary;
