@import '../../../../../../common/src/scss/variables/glo';

$product-price-component-variant-padding: initial;
$product-price-component-variant-padding-inline-end: 0.7rem;
$product-price-component-variant-font-weight: $font-weight-bold;
$product-price-component-bundle-font-size: $h4-font-size;
$product-price-component-bundle-font-weight: $font-weight-extrabold;

// md
$product-price-component-bundle-font-size-md: $h3-font-size;
