@import '../../../../../../common/src/scss/variables/vuse';

$product-sorts-dropdown-component-toggle-color-active: $green;
$product-sorts-dropdown-component-icon-image: url('../../../../../../common/src/resources/svg/base/bat-arrows.svg');
$product-sorts-dropdown-component-icon-image-active: url('../../../../../../common/src/resources/svg/vuse/vuse-arrows-active.svg');
