@import '../../../../../../common/src/scss/variables/vuse';

$account-menu-title-component-border-color: $gray-light-primary;
$account-menu-title-component-min-height: auto;
$account-menu-title-component-padding-block-start: 1.3rem;
$account-menu-title-component-padding-block-end: 1.2rem;

// md
$account-menu-title-component-letter-spacing-md: 0.02rem;
$account-menu-title-component-padding-block-start-md: 3rem;
$account-menu-title-component-padding-block-end-md: 2.5rem;
