@import '../../../../../../common/src/scss/variables/velo';

$product-price-component-font-size: $h4-font-size;
$product-price-component-color: $dark;
$product-price-component-variant-margin: 0;
$product-price-component-variant-font-size: inherit;
$product-price-component-bundle-font-size: $h4-font-size;
