@import '../../../../../../common/src/scss/variables/velo';

$account-order-component-bundle-plain-margin-block-end: $m-primary;
$account-order-component-bundle-plain-collapse-padding-block-start: 0;
$account-order-component-product-pain-padding-block-start: 0;
$account-order-component-editable-bundle-price-margin-block-end: 0;
