@import '../../../../../../common/src/scss/variables/vuse';

$mini-cart-component-title-font-family: $font-family-secondary;
$mini-cart-component-total-font-weight: $font-weight-bold;

// md
$mini-cart-component-title-font-size-md: 2.6rem;
