@import '../../../../../../common/src/scss/variables/velo';

$blog-widget-component-action-button-arrow-width: 2rem;
$blog-widget-component-action-button-arrow-height: 1.4rem;
$blog-widget-component-action-button-arrow-top: 0.3rem;
$blog-widget-component-action-block-title-font-size: 2.6rem;
$blog-widget-component-action-block-title-color: $tertiary;
$blog-widget-component-action-block-subtitle-color: $secondary;

// md
$blog-widget-component-action-block-title-padding-top-md: 6rem;
