@import '../../../../../../common/src/scss/variables/velo';

$account-referral-link-component-title-font-weight: $font-weight-semibold;

// md
$account-referral-link-component-padding-inline-md: $p-primary-lg;
$account-referral-link-component-content-item-flex-md: 0 0 50%;
