@import '../../../../../../common/src/scss/variables/glo';

$account-default-address-component-reserve-address-padding-block: 1.8rem;
$account-default-address-component-delivery-font-weight: $font-weight-bold;
$account-default-address-component-check-icon-width: 1.4rem;
$account-default-address-component-delivery-background-image: url('../../../../../../common/src/resources/svg/base/bat-check-symbol.svg');
$account-default-address-component-delivery-background-size: $account-default-address-component-check-icon-width 1.1rem;
