@import '../../../../../../common/src/scss/variables/vuse';

$add-to-cart-panel-component-add-to-cart-title-font-size: $h4-font-size;
$add-to-cart-panel-component-add-to-cart-title-letter-spacing: 0.02rem;
$add-to-cart-panel-component-button-plus-button-margin-top: 1.3rem;
