$category-breadcrumbs-component-padding-block-start: 0;
$category-breadcrumbs-component-padding-block-end: 0;

// sm
$category-breadcrumbs-component-divider-right-sm: 0.5rem;
$category-breadcrumbs-component-padding-inline-start-sm: 0;
$category-breadcrumbs-component-padding-inline-end-sm: 1.5rem;
$category-breadcrumbs-component-padding-block-start-sm: 0;
$category-breadcrumbs-component-padding-block-end-sm: 0;
