@import '../../../../../../common/src/scss/variables/glo';

$reorder-component-action-button-component-border-radius: 2rem;
$reorder-component-action-button-component-font-weight: 800;
$reorder-component-action-button-component-line-height: 1.7rem;
