@import '../../../../../../common/src/scss/variables/glo';

$product-sorts-dropdown-component-toggle-color-active: $secondary;
$product-sorts-dropdown-component-icon-image: url('../../../../../../common/src/resources/svg/base/bat-arrows.svg');
$product-sorts-dropdown-component-icon-image-active: url('../../../../../../common/src/resources/svg/glo/glo-arrows-active.svg');
