@import '../../../../../../common/src/scss/variables/velo';

$mini-cart-component-title-font-weight: $font-weight-semibold;
$mini-cart-component-total-font-weight: $font-weight-semibold;
$mini-cart-component-view-link-font-size: $font-size-lg;
$mini-cart-component-view-link-color: $secondary-font-color;

// md
$mini-cart-component-title-font-size-md: 2.2rem;
