@import '../../../../../../common/src/scss/variables/velo';

$cart-item-component-remove-icon: url('../../../../../../common/src/resources/svg/velo/velo-close.svg');
$cart-item-component-edit-icon: url('../../../../../../common/src/resources/svg/velo/velo-pencil.svg');
$cart-item-component-move-to-wishlist-component-font-color: $secondary-font-color;
