@import '../../../../../../common/src/scss/variables/vuse';

$newsletter-component-form-button-left: $p-tertiary;
$newsletter-component-form-control-label-right: $p-secondary;
$newsletter-component-form-title-text-align: start;
$newsletter-component-button-color-hover: $primary;
$newsletter-component-button-background-color: $secondary;
$newsletter-component-button-background-color-hover: $secondary-dark;
$newsletter-component-button-loader-color: $light;
