@import '../../../../../../common/src/scss/variables/glo';

$search-location-component-title-font-size: 2.6rem;
$search-location-component-title-line-height: 1;
$search-location-component-title-font-weight: $font-weight-extrabold;
$search-location-component-button-margin-top: $m-tertiary;

// sm
$search-location-component-padding-block-end-sm: $p-secondary;
