@import '../../../../../../common/src/scss/variables/velo';

$coupons-wallet-component-item-border-top: $border-width solid $primary-border-color;
$coupons-wallet-component-item-row-margin-block-start: $m-secondary;
$coupons-wallet-component-item-code-font-weight: $font-weight-semibold;
$coupons-wallet-component-item-code-background-color: $background-primary-color;
$coupons-wallet-component-item-code-padding-inline: $p-primary;
$coupons-wallet-component-item-label-font-weight: $font-weight-semibold;
$coupons-wallet-component-item-more-text-color: $secondary-font-color;
$coupons-wallet-component-item-date-font-size: 1.1rem;
