@import '../../../../../../common/src/scss/variables/vuse';

$settings-nav-item-component-background-image: url('../../../../../../common/src/resources/svg/base/bat-wheel-gray.svg');
$settings-nav-item-component-push-background-image: url('../../../../../../common/src/resources/svg/vuse/vuse-wheel-green.svg');
$settings-nav-item-component-button-color: $green;
$settings-nav-item-component-collapse-color: $light;
