@import '../../../../scss/variables/glo';

$box-component-title-font-weight: $font-weight-extrabold;
$box-component-title-text-transform: uppercase;
$box-component-title-line-height: 1;
$box-component-title-padding-block-start: 2.5rem;
$box-component-title-padding-block-end: 2.2rem;
$box-component-title-disabled-color: $gray;
$box-component-active-border-width: $border-width-lg;
