@import '../../../../../../common/src/scss/variables/glo';

$store-locator-map-component-info-window-max-height: 11.6rem !important;
$store-locator-map-component-cluster-2-color: $light;
$store-locator-map-component-close-button-background-image: url('../../../../../../common/src/resources/svg/base/bat-cross.svg') !important;
