@import '../../../../../../common/src/scss/variables/velo';

$recommended-products-list-component-title-font-size: 2rem;
$recommended-products-list-component-products-padding: 0;
$recommended-products-list-component-price-margin: 0;
$recommended-products-list-component-elements-display: none;
$recommended-products-list-component-title-text-align: start;

// sm
$recommended-products-list-component-products-scroll-snap-type-sm: none;
$recommended-products-list-component-products-margin-inline-sm: 1.6rem;
