@import '../../../../scss/variables/glo';

$modal-component-color: $dark-secondary;
$modal-component-header-tertiary-border-bottom: $border-width-lg solid $gray-light-primary;
$modal-component-title-font-weight: $font-weight-bold;
$modal-component-title-font-size: $h3-font-size;
