@import '../../../../../../common/src/scss/variables/base';

.app {
    .account-menu-title-component {
        $account-menu-title-component-border-color: null !default;
        $account-menu-title-component-font-size: null !default;
        $account-menu-title-component-font-weight: $font-weight-bold !default;
        $account-menu-title-component-min-height: null !default;
        $account-menu-title-component-padding-block-start: null !default;
        $account-menu-title-component-padding-block-end: null !default;

        & {
            border-color: $gray-light-primary;
            font-size: $account-menu-title-component-font-size;
            font-weight: $account-menu-title-component-font-weight;
            min-height: $account-menu-title-component-min-height;
            padding-block-start: $account-menu-title-component-padding-block-start;
            padding-block-end: $account-menu-title-component-padding-block-end;
            text-transform: uppercase;
        }
    }
}
