@import '../../../../../../common/src/scss/variables/vuse';

$product-pane-component-product-title-font-family: $font-family;
$product-pane-component-product-title-font-weight: $font-weight-normal;
$product-pane-component-config-options-title-transform: uppercase;
