@import '../../../../../../common/src/scss/variables/vuse';

$bundled-product-settings-component-title-font-size: 1.2rem;
$bundled-product-settings-component-title-name-font-family: $font-family;
$bundled-product-settings-component-title-line-height: 1.4;
