@import '../../../../../../common/src/scss/variables/velo';

$bundled-product-component-name-font-weight: $font-weight-bold;
$bundled-product-component-name-line-height: 1.7rem;
$bundled-product-component-qty-color: $dark;
