@import '../../../../../../common/src/scss/variables/velo';

$account-referrals-list-component-border: $border-width solid $primary-border-color;

// md
$account-referrals-list-component-header-padding-inline-md: $p-primary-lg;
$account-referrals-list-component-content-header-padding-inline-md: $p-primary-lg;
