@import '../../../../../../common/src/scss/variables/vuse';

$coupons-wallet-component-item-align-right-justify-content: flex-end;
$coupons-wallet-component-item-apply-display: flex;
$coupons-wallet-component-item-apply-align-items: center;
$coupons-wallet-component-item-apply-height: $top-message-height;
$coupons-wallet-component-item-apply-font-size: $font-size-mobile;
$coupons-wallet-component-item-code-display: flex;
$coupons-wallet-component-item-code-align-items: center;
$coupons-wallet-component-item-code-height: $top-message-height;
$coupons-wallet-component-item-more-text-transform: uppercase;
