@import '../../../../../../common/src/scss/variables/velo';

$cross-sell-products-component-font-weight: 700;
$cross-sell-products-component-arrow-icon-width: 1.1rem !default;
$cross-sell-products-component-arrow-icon-height: 1.8rem !default;
$cross-sell-products-component-arrow-icon-background-size: 1.1rem 1.8rem !default;
$cross-sell-products-component-arrow-background-image: url('../../../../../../common/src/resources/svg/velo/velo-arrow.svg');
