@import '../../../../scss/variables/velo';

$number-input-component-control-font-size: $font-size-lg;
$number-input-component-increment-background-image: url('../../../../resources/svg/velo/velo-increment.svg');
$number-input-component-decrement-background-image: url('../../../../resources/svg/velo/velo-decrement.svg');
