@import '../../../../../../common/src/scss/variables/glo';

$checkout-products-list-item-component-product-link-font-weight: $font-weight-bold;
$checkout-products-list-item-component-product-link-font-size: 1.3rem;
$checkout-products-list-item-component-product-link-text-transform: uppercase;
$checkout-products-list-item-component-variation-display: block;
$checkout-products-list-item-component-pane-name-link-display: block;
$checkout-products-list-item-component-pane-name-link-margin-inline-start: 0;
$checkout-products-list-item-component-pane-name-link-margin-inline-end: 5rem;
$checkout-products-list-item-component-pane-name-link-margin-block-start: 0;
$checkout-products-list-item-component-pane-name-link-margin-block-end: 0.8rem;
$checkout-products-list-item-component-pane-name-link-color: $primary;
$checkout-products-list-item-component-pane-name-link-font-size: 1.3rem;
$checkout-products-list-item-component-product-variation-color: #6b6b6b;
