@import '../../../../../../common/src/scss/variables/velo';

$checkout-products-list-item-component-product-qty-plain-component-padding-top: $p-primary-lg;
$checkout-products-list-item-component-product-link-color: $primary;
$checkout-products-list-item-component-product-link-text-decoration: underline $primary;
$checkout-products-list-item-component-regular-price-font-weight: $font-weight-bold;
$checkout-products-list-item-component-product-variation-color: #6b6b6b;
