@import '../../../../../../common/src/scss/variables/velo';

$account-menu-component-link-background-image: url('../../../../../../common/src/resources/svg/velo/velo-arrow.svg');
$account-menu-component-link-background-size: 1rem 1.5rem;

// md
$account-menu-component-link-box-shadow-md: inset -0.5rem 0 0 0 $secondary;
