@import '../../../../../../common/src/scss/variables/glo';

$cross-sell-products-component-font-size: 1.6rem;
$cross-sell-products-component-font-weight: 900;
$cross-sell-products-component-arrow-background-image: url('../../../../../../common/src/resources/svg/base/bat-slider-arrow-right.svg');
