@import '../../../../../../common/src/scss/variables/glo';

$blog-post-list-component-title-font-weight: $font-weight-bold;
$blog-post-list-component-title-text-align: center;
$blog-post-list-component-title-line-height: 3.6rem;

// md
$blog-post-list-component-title-text-align-md: left;
