@import '../../../../../../common/src/scss/variables/velo';

$account-referral-dashboard-component-row-border-bottom: $border-width solid $primary-border-color;
$account-referral-dashboard-component-tier-info-font-weight: $font-weight-semibold;
$account-referral-dashboard-component-title-font-weight: $font-weight-semibold;
$account-referral-dashboard-component-title-margin-block-start: $m-tertiary;

// md
$account-referral-dashboard-component-padding-inline-md: $p-primary-lg;
