@import '../../../../../../common/src/scss/variables/glo';

$radio-component-label-text-line-height: 2rem;
$radio-component-label-text-border-width: $border-width-lg;
$radio-component-label-text-box-shadow: 0 0 0 0.2rem $primary;
$radio-component-label-text-size: 1.8rem;
