@import '../../../../../../common/src/scss/variables/glo';

$cart-item-component-move-to-wishlist-component-font-weight: 800;
$cart-item-component-move-to-wishlist-component-line-height: 1.5rem;

// md
$cart-item-component-edit-icon-position-md: 2rem;
