@import '../../../../../../common/src/scss/variables/vuse';

$popup-add-to-homescreen-control-color: $secondary;
$popup-add-to-homescreen-control-color-hover: $light;
$popup-add-to-homescreen-control-color-focus: $light;
$popup-add-to-homescreen-control-color-active: $light;
$popup-add-to-homescreen-control-border-width: $border-width-lg;
$popup-add-to-homescreen-control-border-color: $button-tertiary-border-color;
$popup-add-to-homescreen-control-border-radius: 3.5rem;
$popup-add-to-homescreen-control-background-color: $darker;
$popup-add-to-homescreen-control-background-image: url('../../../../../../common/src/resources/svg/vuse/vuse-logo-small.svg');
