@import '../../../../../../common/src/scss/variables/vuse';

$reorder-component-action-button-component-border-radius: 2.5rem;
$reorder-component-action-button-component-font-weight: $font-weight-bold;
$reorder-component-action-button-component-line-height: 1.6rem;
