@import '../../../../../../common/src/scss/variables/glo';

$blog-widget-component-action-block-margin-bottom: $m-secondary;
$blog-widget-component-action-block-title-padding-bottom: $p-secondary;
$blog-widget-component-action-block-title-font-weight: $font-weight-bold;
