@import '../../../../../../common/src/scss/variables/velo';

$account-menu-title-component-font-size: $font-size-mobile;
$account-menu-title-component-font-weight: $font-weight-semibold;

// md
$account-menu-title-component-font-size-md: 1.8rem;
$account-menu-title-component-text-transform-md: none;
