@import '../../../../../../common/src/scss/variables/vuse';

$editable-bundle-radio-component-font-weight: $font-weight-normal;
$editable-bundle-radio-component-label-padding-inline-start: 2.8rem;
$editable-bundle-radio-component-label-before-top: 0.2rem;
$editable-bundle-radio-component-label-before-size: 1.8rem;
$editable-bundle-radio-component-label-before-border-width: 0.36rem;
$editable-bundle-radio-component-label-before-box-shadow: 0 0 0 0.2rem $primary;
