@import '../variables/base';
@import '~@luft/common/src/scss/mixins';

@include media-breakpoint-up(lg) {
    .container {
        max-width: map-get($container-max-widths, 'lg');
    }

    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
