@import '../../../../../../common/src/scss/variables/velo';

$store-card-component-footer-height: 4rem;
$store-card-component-button-display: flex;
$store-card-component-button-align: center;
$store-card-component-button-justify: center;
