@import '../../../../../../common/src/scss/variables/velo';

$cms-menu-items-component-color: $tertiary;

// md
$cms-menu-items-component-background-color-md: #48b9d3;
$cms-menu-items-component-active-color-md: $tertiary;
