@import '../../../../../../common/src/scss/variables/base';

.ipay88-method-item-component {
    $ipay88-method-item-component-border: $border-width solid $gray-light-primary !default;
    $ipay88-method-item-component-height: 5rem !default;
    $ipay88-method-item-component-active-box-shadow: inset 0 0 0 0.2rem $primary !default;

    & {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: $ipay88-method-item-component-border;
        height: $ipay88-method-item-component-height;
        padding: $p-tertiary;
    }

    &-active {
        box-shadow: $ipay88-method-item-component-active-box-shadow;
    }
}
